table {
  width: 100%;
  border-collapse: collapse;

  tr:nth-child(even) {
    background-color: #f8f8f8;
  }

  tr:hover {
    background-color: lighten(gold, 40%);
    color: #333;
  }

  td, th {
    padding: 12px 0;
    text-align: left;
  }

  th:first-child, td:first-child {
    padding-left: 8px;
  }

  th {
    border-bottom: 1px solid #ccc;
  }
}
